* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: #f8f8f8;
  background: #202020;
  color: #f1f1f1;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
